{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "overrides": [
    {
      "files": ["templates/**/*"],
      "rules": {
        "import/no-unresolved": "off"
      }
    }
  ],
  "rules": {
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "no-console": "off"
  }
}
