# Don't lint the following
coverage
docs
snapshots
dist
node_modules
log
logs
mock
reports
stories
# Make sure to INCLUDE the following,
# because eslint ignores hidden/dotfiles by default.
.storybook